<footer class="page-footer font-small unique-color-dark">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Duality</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Duality is an open souce resource sharing academic portal where people can easily find relevant information and request help to solve simple and complex problems.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Navigation</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p>
                    <a href="/login">Login</a>
                </p>
                <p>
                    <a href="/account">Account</a>
                </p>
                <p>
                    <a href="/about">About</a>
                </p>
                <p>
                    <a href="/contact">Contact Us</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/">Home</a>
                </p>
                <p>
                    <a href="/">Search</a>
                </p>
                <p>
                    <a href="/stats">Statistics</a>
                </p>
                <p>
                    <a href="/terms">Terms & Conditions</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="material-icons alignicons">location_on</i> Reduit, Mauritius</p>
                <p>
                    <i class="material-icons alignicons">mail</i> icybershadow@gmail.com</p>
                <p>
                    <i class="material-icons alignicons">local_phone</i> +230 1234567</p>
                <p>
                    <i class="material-icons alignicons">local_phone</i> +230 59810950</p>
            </div>
        </div>
    </div>
    <div class="blue4 footer-copyright text-center py-3">
        <a href="#">
            <font color='white'>© 2019 Team Duality</font>
        </a>
    </div>
</footer>

</div>
<script src="/js/app.js "></script>
</body>

</html>