
body {

	background: url("minimalist.jpeg") no-repeat;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA099;
	text-align: center;
	border: 3px solid #fff;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 3px solid #fff;
	background: rgba(255,255,255,0.4);
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	color:white;
	font:bold;
	font-size:30px;
	background:rgba(0,0,0,0.5);
	width:18vw;
	padding-left:10px;
	border-radius: 50px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 50px;
	border: 1px solid gray;
