<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Paper</title>
    <link rel="stylesheet" href="/css/app.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #f5f8fa;
            z-index: 9998;
            text-align: center
        }
        
        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%
        }
    </style>
</head>

<body>
    <div id="loader" class="loader">
        <div class="plane-container"> <img src="/img/basic/loading.svg" alt=""></div>
    </div>
    <div id="app" class="paper-loading">
        <main>
            <div id="primary" class="blue4 p-t-b-100 height-full responsive-phone">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6"> <img src="/img/stones.png" alt="/"></div>
                        <div class="col-lg-6">
                            <div class="text-white text-center p-t-100">
                                <p class="glow s-256 bolder p-t-b-100">404</p>
                                <p>Enn zafer pa bon. Paz ki zot pe rode inn gagn enn problem</p>
                                <div class="p-t-b-20"><a href="/" class="btn btn-primary btn-lg">
                                        Go Back Home</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #primary -->
        </main>

    </div>
    <script src="/js/app.js"></script>
</body>

</html>