<% include Partials/header %>
    <br>

    <div class='page light'>
        <div class="container height-full">
            <br>
            <header>
                <h2>Apropo Duality</h2>
            </header>
            <p align='left'>
                Duality is an open souce resource sharing academic portal where users can easily request help to solve simple and complex problems.
                <br>Duality allows users to open issues and ask questions and the question propagates to users via the use of tags. Every concerned use can hence access and respond to the query. Some may even share their contact information which can
                only be viewed by the one who created the question.<br> Duality also features spam protection features, among which the post rate limit is featured, while securely storing user data. <br>Furthermore, Duality offers an administration interface
                to admins, facilitating many management tasks, as well as a user dashboard which brings most used features in a single page.
                <br>We also coded Duality in such a way that errors will not crash the system by breaking down the system into self sufficient components.
            </p>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <header>
                        <h2>Nou lekip</h2>
                    </header>
                    <p>This is out first year at the Uom web competition which is proving to be quite a challenge. With this website, we hope to achieve the standards to win this competition.</p>
                    <p>Our combined skillsets make us a strong team and we hope to win the Uom Web Competition this year. However, we have worked together on several occasions before and the Uom Web Competition is our second big event as a team. We hope
                        for the best!
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <header>
                        <h2>Nou Lexperians</h2>
                    </header>
                    <div class="progress-wrapper p-b-20 animatedParent"> <span>Web Design</span>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-dark animated slideInLeft go" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span></div>
                        </div>
                    </div>
                    <div class="progress-wrapper p-b-20 animatedParent"> <span>Web Development</span>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-dark animated slideInLeft go" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span></div>
                        </div>
                    </div>
                    <div class="progress-wrapper p-b-20 animatedParent"> <span>Frontend Development</span>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-dark animated slideInLeft go" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span></div>
                        </div>
                    </div>
                    <div class="progress-wrapper p-b-20 animatedParent"> <span>Backend development</span>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-dark animated slideInLeft go" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">80% Complete</span></div>
                        </div>
                    </div>

                </div>
            </div>
            <br>

            <br>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Nirmal K.R.</h3>
                            <h5 class="card-subtitle">BSc. Software Engineering</h5>
                        </div>
                        <div class="card-body">
                            I am a freelance fullstack developer and I have worked on a plethora systems including websites, API's, chatbots, desktop and android apps & games. #Peace-and-code
                        </div>
                        <div class="card-footer">
                            <a href="http://discordhunter.com" class="card-link">Discord Server</a>
                            <a href="https://github.com/nirmal-k-r" class="card-link">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Isfaaq GM.</h3>
                            <h5 class="card-subtitle">BSc. Computer Science</h5>
                        </div>
                        <div class="card-body">
                            I am a technology enthusiast and also indulge in eletronics. Look me up on Github!
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/Isfaaq" class="card-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <br>
        <% include Partials/footer %>