<% include Partials/header %>

    <div class='page light'>
        <br><br><br>
        <div class="container height-full">

            <% if (message){ %>
                <div class="col-lg-5 mx-md-auto">

                    <% if (message=="success"){ %>
                        <div role="alert" class="alert alert-success">
                            Contact Request Sent! We will get back to you soon.
                        </div>
                        <% }  else if (message=="failed"){ %>
                            <div role="alert" class="alert alert-danger">
                                An error occurred. Please try again later.
                            </div>
                            <% } %>
                </div>
                <% } %>

                    <div class="server-card" style="z-index:0;">
                        <div class="row">
                            <div class="server-card-content col-md-6 col-sm-12">
                                <h3 class="font-weight-bold">
                                    Kontacte Nou
                                </h3>
                                <p>
                                    Si ena kit problem konsernan sa site la, oubien ou pe gagn kit difikilte pu servi nou site, pa ezite pou kontakte nou.
                                </p>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <i class="material-icons">location_on</i>
                                        <h6 style="color:whitesmoke">LADRES</h6>
                                        Street Name 50,<br> Building 05,<br> Reduit <br><br>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="material-icons">access_time</i>
                                        <h6 style="color:whitesmoke">LER OUVERTIR</h6>
                                        Monday to Friday, 10am to 7pm<br> Saturday, 10am to 3pm<br> Sunday, 9am to 12pm <br><br>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="material-icons">email</i>
                                        <h6 style="color:whitesmoke">EMAIL</h6>
                                        <a href="mailto:john@doe.umail.uom.ac.mu">john@doe.umail.uom.ac.mu</a>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="material-icons">phone</i>
                                        <h6 style="color:whitesmoke">NIMERO TELEFONN</h6>
                                        +230-562-4058
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);" class="paper-card">
                                    <h3 class="text-center">
                                        Get in touch
                                    </h3>
                                    <h6 class="text-center">Please feel free to contact us if you have any further questions or concern
                                    </h6>
                                    <br>
                                    <form class="text-center" action="/contact" method="POST">
                                        <div class="form-group has-icon">
                                            <label for="name">Your Name</label>
                                            <input type="text" id="name" name="name" placeholder="John Doe">
                                        </div>
                                        <div class="form-group has-icon">
                                            <label for="email">You Email</label>
                                            <input type="text" id="email" name="email" placeholder="john.d@mail.com">
                                        </div>
                                        <div class="form-group has-icon">
                                            <label for="message">Message</label>
                                            <input type="text" name="message" id="message">
                                        </div>
                                        <button class="btn">Submit <i style=" vertical-align:middle" class="material-icons">send</i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


        </div>
        <% include Partials/footer %>