<% include Partials/header %>
<br>
  <div class="container height-full">
    <div class="search-widget">
        <input id="input-search" type="text" class="search-field" placeholder="Type to begin searching...">
    </div>

    <div id="result-list">

    </div>

  </div>
<br>
<script src="/js/search/index.js"></script>
<% include Partials/footer %>
