<% include Partials/header %>
    <div class="container">

        <br><br>

        <br>
        <h4>
            <font color="#98a5ba">Terms and Conditions<br>
        </h4>
        <h5><small>Updated on 28/01/2019</small></h5>
        </font>
        <br>
        <p>
            <ol>
                <li><strong>Introduction</strong>
                    <ol>
                        <li>By using the services provided by Duality, the user agrees to all terms and conditions listed in this document.</li>
                        <li>These Terms shall apply to all agreements concluded between the user and Duality.</li>
                        <li>By using the services provided by Duality, the user agrees to be 13 years of age or older. The user also agrees that, if he or she is between 13 years and 18 years old, his or her guardian has reviewed this document and agreed
                            the terms.</li>
                    </ol>
                </li>
                <br>
                <li><strong>USAGE OF SERVICE</strong>
                    <ol>
                        <li>No content of indecent, obscene, pornographic, vulgar or racial nature is to be posted using the services provided by Duality.</li>
                        <li>Promotion illegal activities or acts under violation of applicable laws using services provided by Duality is not permitted and will lead to termination of service.</li>
                        <li>Duality does not guarantee the quality and accuracy of content posted on the services. The user also agrees that Duality is, under any circumstance, not liable for the provision of inaccurate information, or damage incurred due
                            to user posted content.</li>
                    </ol>
                </li>
                <br>
                <li><strong>COLLECTION OF USER DATA</strong>
                    <ol>
                        <li>Upon use of the services provided by Duality, the user agrees that Duality will collect information about the user in order to provide the best user experience. Personal information collected by Duality include the user&rsquo;s
                            email address, discord id and tokens, google advertising id, paypal id and email.</li>
                        <li>For the functionality of certain services, Duality will require additional data concerning the user from third party services. The user agrees of the disclosure of information from related services and accounts to Duality and agrees
                            that Duality will have access and store such information. </li>
                        <li>Duality is not liable for the loss, damage of data transmitted for the use of the services. The information provided by the user to Duality is the sole responsibility of the user and Duality will not be held responsible for the
                            incorrect handling of the information by the user or third parties.
                        </li>
                    </ol>
                </li>
                <br>
                <li><strong>OBLIGATIONS AND WARRANTIES</strong>
                    <ol>
                        <li>Duality does not warrant any of the services and holds no obligation to a user.</li>
                        <li>Duality shall not be liable for any delay in the upgrade or update of a service.</li>
                        <li>Duality shall have the right to make any changes to the services which are necessary to comply with any applicable law.</li>
                    </ol>
                </li>
                <br>
                <li><strong>CLIENT&rsquo;S OBLIGATIONS AND INDEMNITIES</strong>
                    <ol>
                        <li>The user shall provide technical information to the Duality, as reasonably required by the Duality to provide the service and shall have sole responsibility for ensuring the accuracy of all information provided to the Duality.</li>
                        <li>The user shall indemnify and keep Duality indemnified fully against all liabilities, costs and expenses whatsoever and howsoever incurred by Duality in respect of any third parties as a result of the provision of the service in
                            accordance with the content of the user's advertising which result in claims or proceedings against Duality for infringement of any Intellectual Property Rights or other proprietary rights of third parties, or for breach of
                            confidentiality or contract or for defamation.</li>
                        <li>The user undertakes to comply with all applicable rules, regulations, codes of practice and laws relating to its use of the Services, including without limitation its obligations under the Data Protection Act 1998, the Regulation
                            of Investigatory Powers Act 2000, Competition Act 1998 and the E-Commerce Directive and equivalent legislation and hereby agrees to indemnify and to keep the Duality indemnified in respect of any and all costs, claims or proceedings
                            whatsoever brought against Duality by any third party in connection with any breach of the same by the user.</li>
                    </ol>
                </li>
                <br>
                <li><strong>PRICES</strong>
                    <ol>
                        <li>Unless otherwise expressly stated, all prices shall be in MUR and shall be exclusive of VAT and other duties. In the event that duties are introduced or changed after the conclusion of an order, Duality shall be entitled to adjust
                            the agreed prices accordingly.</li>
                        <li>Whilst every effort is made to ensure that prices are accurate, Duality reserves the right to amend any price.</li>
                    </ol>
                </li>
                <br>
                <li><strong>PAYMENT</strong>
                    <ol>
                        <li>Duality shall invoice the client monthly, either in advance or following premium services delivered. Before offering premium services, the user will be required to pay the full non-refundable amount as stipulated on the invoice
                            or the stated price under an agreement between the user and Duality.</li>
                        <li>The accepted payment method is PayPal and bank transfers, cheques and other forms of payment will not be accepted.</li>
                    </ol>
                </li>
                <br>
                <li><strong>LIABILITY</strong>
                    <ol>
                        <li>Except as expressly stated in Clause 9, Duality shall have no liability to the user for any loss or damage whatsoever arising from or in connection with the provision of the services or for any claim made against the user by any
                            third party.</li>
                        <li>Duality shall have no liability for any losses or damages which may be suffered by the&nbsp;user whether the same are suffered directly or indirectly or are immediate or consequential.
                        </li>
                    </ol>
                </li>
                <br>
                <li><strong>OTHER LIMITATIONS OF LIABILITY</strong>
                    <ol>
                        <li>Duality shall not be liable for downtimes, interference in the form of hacking, virus, disruptions, interruptions, faulty third-party software, search engines or websites on which a service is dependent or other deliveries from
                            a third party. Duality shall use its reasonable efforts to manage its services with no fixed interval.
                        </li>
                        <li>Duality shall not be liable for any changes made without notice by the&nbsp;user or a third party employed affecting the services delivered by Duality.</li>
                    </ol>
                </li>
                <br>
                <li><strong>INTELLECTUAL PROPERTY RIGHTS</strong>
                    <ol>
                        <li>It is the responsibility of the user to ensure that they have the right to use any Intellectual Property Rights when they provide any text, image or representation to Duality for incorporation into the services.</li>
                        <li>The user shall be responsible for ensuring that the contents which the user has contributed or approved are not in contravention of legislation, decency, marketing rules or any other third-party rights. Duality shall be entitled
                            to reject and delete such material without incurring any liability. In addition, Duality shall be entitled to discontinue the service.</li>
                        <li>The user hereby irrevocably licenses Duality to use and display the user&rsquo;s name, provided content, logo etc. as a reference on the service&rsquo;s website, other marketing materials or types of media.</li>
                    </ol>
                </li>
                <br>
                <li><strong>CONFIDENTIALITY AND PERSONAL DATA</strong>
                    <ol>
                        <li>A party <strong>(Receiving Party) </strong>shall keep in strict confidence all technical information which are of a confidential nature and have been disclosed to the Receiving Party by the other party <strong>(Disclosing Party)</strong>,
                            its employees, agents or subcontractors, and any other confidential information concerning the Disclosing Party's services which the Receiving Party may obtain. The Receiving Party shall restrict disclosure of such confidential
                            information and shall ensure that she or she is aware of the obligations of confidentiality corresponding to those which bind the Receiving Party. This clause shall survive termination of the service.</li>
                        <li>Each party agrees to comply with its respective obligations under the Data Protection Act 1998.</li>
                        <li>However, the user shall be obliged to indemnify the Company for any loss, including costs incidental to legal proceedings, suffered by the Company as a result of the processing of personal data which the Client has contributed
                            being in contravention of the Data Protection Act 1998 or marketing law. The parties shall be obliged to notify the other party without undue delay of any claims raised against a party as described in the present clause.</li>
                    </ol>
                </li>
                <br>
                <li><strong>MODIFICATION AND TERMINATION</strong>
                    <ol>
                        <li>Duality reserves the right to amend this document with or without notice at any time. Any such revision of this document will be effective immediately upon update on the website.
                        </li>
                        <li>The service will be renewed every month unless and until either party notifies the other of its wish to terminate the service at the expiry of the current year by giving the other party at least 30 days&rsquo; written notice to
                            expire at the end of that service term.</li>
                        <li>Duality is entitled to terminate the service at any time with or without notice to the user under any circumstance.</li>
                    </ol>
                </li>
                <br>
                <li><strong>MISCELLANEOUS</strong>
                    <ol>
                        <li>Duality reserves the right to modify or discontinue, temporarily or permanently, the services with or without notice to the user and Duality shall not be liable to the user or any third party for any modification to or discontinuance
                            of these services.</li>
                        <li>If any term of these Terms is found illegal, invalid or unenforceable under any applicable law, such term shall, insofar as it is severable from the remaining Terms, be deemed omitted from these Terms and shall in no way affect
                            the legality, validity or enforceability of the remaining Terms which shall continue in full force and effect and be binding on the parties to the Contract.</li>
                    </ol>
                </li>
            </ol>
        </p>
    </div>
    <br><br>
    <% include Partials/footer %>