<% include ../Partials/header %>

    <div class='page light height-full'>
        <div class='content-wrapper'>
            <div class='container-fluid'>
                <br>
                <br>
                <div class='row'>
                    <div class="col-md-4">
                        <div class="card text-white bg-success text-center" style="">
                            <div class="card-content">
                                <div class="card-body pt-3">
                                    <h4 class="card-title mt-3 text-white">Statistics</h4>
                                    <div align='center'>
                                        <a href="/stats" class="btn btn-lg btn-outline-warning">View Stats</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-primary text-center" style="">
                            <div class="card-content">
                                <div class="card-body pt-3">
                                    <h4 class="card-title mt-3 text-white">User Management</h4>
                                    <div align='center'>
                                        <a href="/adminpanel/manage-users" class="btn btn-lg btn-outline-warning">Manage
                                        Users</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white text-center" style="background: mediumpurple">
                            <div class="card-content">
                                <div class="card-body pt-3">
                                    <h4 class="card-title mt-3 text-white">Question Management</h4>
                                    <div class='row'>
                                        <div class="col-md-6">
                                            <div align='center'>
                                                <a href="/adminpanel/manage-questions" class="btn btn-lg btn-outline-warning" style='margin-bottom: 10px'>Manage
                                                Questions</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div align='center'>
                                                <a href="/adminpanel/manage-questions?search=ad_min" class="btn btn-lg btn-outline-warning">Reported
                                                Issues</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-lg-4">
                                        <div class="card" style="">
                                            <div class="card-content">
                                                <img class="card-img-top img-fluid" src="/img/portfolio/p7.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h4 class="card-title">For use Later</h4>
                                                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                                </div>
                                                <div class="card-body">
                                                    <form class="form">
                                                        <div class="form-body">
                                                            <div class="form-group">
                                                                <label for="donationinput1" class="sr-only">Name</label>
                                                                <input type="text" id="donationinput1" class="form-control"
                                                                    placeholder="name" name="name">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="donationinput2" class="sr-only">Email</label>
                                                                <input type="email" id="donationinput2" class="form-control"
                                                                    placeholder="email" name="email">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="donationinput7" class="sr-only">Message</label>
                                                                <textarea id="donationinput7" rows="5" class="form-control square"
                                                                    name="message" placeholder="message"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-actions center">
                                                            <button type="submit" class="btn btn-outline-primary">Send</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                </div> -->
                </div>
            </div>
        </div>
    </div>
    <% include ../Partials/footer %>