<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog width-400" role="document">
    <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
      <div class="modal-body no-p">
        <div class="text-center p-40 p-b-0"> <img src="assets/img/dummy/u4.png" alt="">
          <h3>Welcome Back</h3>
          <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting for you</p>
        </div>
        <div class="light p-40 b-t-b">
          <form action="dashboard2.html">
            <div class="form-group has-icon"><i class="icon-envelope-o"></i> <input type="text" class="form-control form-control-lg"
                placeholder="Email Address"></div>
            <div class="form-group has-icon"><i class="icon-user-secret"></i> <input type="text" class="form-control form-control-lg"
                placeholder="Password"></div> <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log In">
            <small class="forget-pass">Have you forgot your username or password ?</small>
          </form>
        </div>
        <div class="p-40"><a href="#" class="btn btn-lg btn-block btn-social facebook"><i class="icon-facebook"></i>
            Login with Facebook</a><a href="#" class="btn btn-lg btn-block btn-social twitter"><i class="icon-twitter"></i>
            Login with Twitter</a></div>
      </div>
    </div>
  </div>
</div>