.margin-r7 {
  margin-right:7px;
}

.logo-m {
  width:250px;
}

#demo-canvas {
  width:100%;
  height:auto !important;
  z-index:4;
}

@media (max-width:767px) {
  #demo-canvas {
    height:185px !important;
  }
}

.icon-lamp-active {
  color:#ffd878 !important;
}

.icon-lamp {
  color:#ffd878 !important;
  transition:color .50s;
}

.icon-lamp {
  color:#b7b7b7 !important;
  transition:color .50s;
}

.icon-lamp:hover {
  color:#ffd878 !important;
  transition:color 1s;
}

.icon-green-dark {
  font-size:150px;
  color:#142c1c;
}

.cssanimation, .cssanimation span {
  animation-duration:.5s;
  animation-fill-mode:both;
}

.cssanimation span {
  display:inline-block;
}

.hu__hu__ {
  animation:hu__hu__ infinite 2s ease-in-out;
}

.icone-rodape-verde {
  color:#20f29a;
  font-size:20px;
}

p {
  font-family:'Roboto';
  font-weight:300;
}

.logo {
  position:absolute;
  top:0;
  left:0;
  width:305px;
  height:111px;
}

@media (max-width:767px) {
  .logo {
    width:300px;
    height:auto;
  }
}

.float-r {
  float:right;
}

.section-dark-green {
  font-size:20px;
  background-color:#142c1c;
  padding:30px 0px 30px 0px;
}

.section-light-gray {
  background-color:#254d32;
  padding:50px 0px 50px 0px;
}

.filtro {
  display:flex;
  position:absolute;
  align-items:center;
  justify-content:center;
  width:100%;
  height:455px;
  background:rgba(41,99,51,0.73);
  z-index:5;
}

@media (max-width:767px) {
  .filtro-m {
    position:absolute;
    width:100%;
    height:185px;
    background:rgba(37,77,50,0.81);
    z-index:5;
    padding:26px 0px 26px 0px;
  }
}

.large-header {
  position:relative;
  width:100%;
  height:455px;
  overflow:hidden;
  background-size:cover;
  background-position:center;
  z-index:1;
}

.demo-2 .large-header {
  background-image:url(../../assets/img/bg.jpeg);
  background-position:center;
  background-size:cover;
  height:455px !important;
}

@media (max-width:767px) {
  .demo-2 .large-header {
    height:185px !important;
  }
}

.content {
  height:455px;
}

@media (max-width:767px) {
  .content {
    height:185px;
  }
}

a {
  color:#8e888a;
  text-decoration:none;
  outline:none;
}

a:hover, a:focus {
  color:#a7a0a2;
}

p {
  font-family:'Roboto';
  font-weight:300;
  color:#545454;
}

@media (max-width:767px) {
  p {
    font-size:20px;
    font-weight:300;
    z-index:1;
    text-align:center;
    padding:10px;
  }
}

.padding-r7 {
  padding-right:7px;
}

@media (max-width:767px) {
  a {
    font-size:25px;
  }
}

.nav > li > a:focus, .nav > li > a:hover {
  background:none;
  text-decoration:none;
  border-bottom-color:#3dc56a;
  color:#3dc56a;
  transition:border,color .50s;
  font-weight:400;
}

li.active {
  background:transparent;
  border-bottom:1px solid #74e99b;
}

.mockup-nav {
  background-color:#ffffff;
  margin-bottom:3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color:#3dc56a;
  cursor:default;
  background-color:transparent;
  border-bottom-color:transparent;
  box-shadow:none;
  border:0px;
  font-weight:400;
}

.nav-tabs > li > a {
  font-size:20px;
  margin-right:2px;
  line-height:1.42857143;
  border-right:1px solid #a3a3a3;
  border-radius:0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border:0px;
}

.nav-tabs > li > a {
  font-size:14px;
  margin-right:2px;
  line-height:1.42857143;
  border-right:1px solid #a3a3a3;
  border-radius:0px;
  background-color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
}

.nav > li > a {
  font-family:'Roboto';
  font-weight:300;
  padding:5px 60px;
  color:#767575;
  transition:background .50s;
  background:none;
  border:0px;
  border-radius:0px;
  transition:border,color .50s;
}

.nav-tabs.nav-justified > li > a {
  margin-right:0;
  border-radius:0px;
}

@media (min-width:768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom:1px solid #ddd;
    border-radius:0px;
  }
}

.topo-principal {
  height:auto;
  padding:40px 0px 40px 0px;
}

.block-flex {
  display:flex;
  align-items:center;
  justify-content:center;
}

hr {
  margin-top:10px;
  margin-bottom:10px;
  border:0;
  border-top:1px solid #cbcbcb;
}

h1 {
  font-family:'Josefin Sans';
  font-weight:100;
  font-size:70px;
  color:#fff;
}

@media (max-width:767px) {
  h1 {
    font-size:40px;
    font-weight:300;
    color:#fff;
    text-align:center;
  }
}

.verde-claro {
  color:#f5df51;
}

.padding50 {
  padding:0px 50px 0px 50px;
}

.navbar {
  position:relative;
  min-height:50px;
  margin-bottom:0px;
  border:1px solid #cdcccc;
  border-right:none;
  border-left:none;
  border-radius:0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image:none;
  background-color:#1fb0e3;
  color:#fff;
  box-shadow:none;
  text-shadow:none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color:#fff;
  background-color:#1fb0e3;
}

@media (max-width:414px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float:left;
  }
}

.p-telefone1 {
  font-family:'Roboto';
  font-weight:300;
  font-size:17px;
}

.margin0 {
  margin:0px;
}

h1 {
  font-family:'Josefin Sans';
  font-weight:100;
  font-size:120px;
  color:#fdffff;
}

@media (max-width:767px) {
  h1 {
    font-size:60px;
    font-weight:300;
    color:#fff;
    text-align:center;
  }
}

.verde-claro {
  color:#f5df51;
}

.padding50 {
  padding:0px 50px 0px 50px;
}

.margin0 {
  margin:0px;
}

.base-logo {
  /*width:210px;*/
  height:109px;
}

@media (max-width:767px) {
  .p-telefone1 {
    font-family:'Roboto';
    font-weight:100;
    font-size:30px;
  }
}

.c-green {
  color:#254d32 !important;
}

