<% include ../Partials/header %>
    <br>
    <br>
    <div class="container height-full">
        <div class="paper-card col-lg-10 col-md-12 mx-md-auto">
            <h4>New Blog</h4>
            <br>
            <form action="/blog/new" method="post">
                <div class="row form-group has-icon">
                    <label class="col-md-2 col-sm-4" for="title">
          <h6>Title</h6>
        </label>
                    <input class="col-md-10 col-sm-8" type="text" id="title" name="title" placeholder="Rustic Concrete Tuna">
                </div>
                <div class="row form-group has-icon">
                    <label class="col-md-2 col-sm-4" for="content">
          <h6>Content</h6>
        </label>
                    <textarea class="col-md-10 col-sm-8" type="text" rows="10" id="content" name="content" placeholder="Aut nostrum fuga blanditiis commodi fugit aperiam non adipisci. Neque sed tempora iure architecto. Quo et et est ullam dolor. Tenetur omnis occaecati molestias tenetur et. Architecto ut esse rerum rerum sint.
 
Nobis et porro possimus iusto atque omnis ut similique corporis. Odit veniam et fugit labore consequatur maxime magnam ut. Ducimus doloribus ut fugiat. Accusantium sit perspiciatis nobis eum id necessitatibus officia corporis.
 
Quia et voluptatibus est placeat itaque reprehenderit. Corporis quo architecto neque facere. Reiciendis perferendis consequatur nostrum accusamus consequuntur ipsa eius. Rerum deleniti sint."></textarea>
                </div>
                <button class="btn" style="display:block; margin: auto">Review <i style=" vertical-align:middle" class="material-icons">chrome_reader_mode</i></button>
            </form>
        </div>
    </div>
    <% include ../Partials/footer %>
        </br>